@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  --dark: #222;
  --darkgreen: #465b52;
  --light: #ffffff;
  --lightgrey: #f9f7f7;
  --difgreen: #24f220cc;
  --lightgreen: #e0ffcd;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--dark);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--dark);
}

h4 {
  font-size: 20px;
  color: var(--dark);
  font-weight: 400;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  line-height: 30px;
  color: white;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* HEADER START */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--lightgrey);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.15s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--difgreen);
  position: absolute;
  bottom: -4px;
  left: 21px;
}

/* HOME PAGE */
#hero {
  background-image: url(/assets/images/background/taylor-smith-aDZ5YIuedQg-unsplash.jpg);
  height: 90vh;
  width: 100%;
  object-fit: cover; /* This property ensures the image covers the entire container */
  background-size: cover; /* This property also helps in covering the entire container */
  background-position: bottom 35% right 0; /* You can write "center" instead */
  padding: 0 60px; /*text padding from the left*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: var(--difgreen);
}

#hero button {
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 p {
  color: grey;
  font-size: 20px;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2 ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  outline: 1px solid var(--darkgreen);
  transition: 0.1s linear;
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: var(--darkgreen);
  font-size: 16px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
}

#product1 .pro .des i {
  font-size: 14px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: var(--darkgreen);
}

#product1 .pro .cart {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background-color: var(--lightgreen);
  color: var(--darkgreen);
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* SHOP PAGE*/

/* SINGLE PRODUCT*/

/* ARTIGOS*/

/* ABOUT PAGE */
